body {
  text-align: center;
}

.bambi-pic {
  width: 30%;
}

@media screen and (max-width: 999px) {
  .bambi-pic {
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .bambi-pic {
    width: 100%;
  }
}
